on: [push]

name: ARMv7 build

jobs:
  linux_arm7:
    name: Linux ARMv7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-12-19
          target: armv7-unknown-linux-gnueabihf
          override: true

      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target armv7-unknown-linux-gnueabihf --package tree-writer

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: pi-binary
          path: target/armv7-unknown-linux-gnueabihf/release/rusty-tree
